[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yp/Desktop/brave-jgclhcifjnkepcjdfhcnfjgojgddndpj-Default.desktop]
row=5
col=0

[/home/yp/Desktop/comp]
row=7
col=0

[/home/yp/Desktop/brave-gneipglanmgpdhiohiogfnhdpoaafoob-Default.desktop]
row=0
col=1

[/home/yp/Desktop/sharing]
row=8
col=0

[/home/yp/Desktop/arduino-arduinoide.desktop]
row=3
col=0

[/home/yp/Desktop/Homework3.pdf]
row=6
col=0

[/home/yp/Desktop/The.Sopranos.Complete.1080p.Bluray.10bit.x265.AAC.51-HazMatt]
row=9
col=0

[/home/yp/Desktop/steam.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/yp]
row=2
col=0

