[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yp/Desktop/Old Firefox Data]
row=4
col=0

[/home/yp/Desktop/bt.txt]
row=1
col=0

[/home/yp/Desktop/brave-jgclhcifjnkepcjdfhcnfjgojgddndpj-Default.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/yp]
row=2
col=0

